header {
	margin:20px 0px 0px 30px;
	height:77px;
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
}
#nav {
    overflow:  auto;
}
#nav li {
  list-style: none;
  width: 100px;
  background-color: #EEFFFF;
  float: left;
}
form {
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  width:550px;
}

ul {
  list-style: none;
  padding: 0;
  margin-left:30px;
  margin-right:0;
  margin-bottom:20px;
  margin-top:5px;
}

form li + li {
  margin-top: 1em;
}
 
label {
  display: inline-block;
  width: 260px;
  text-align: right;
}


input, textarea {
  font: 1em sans-serif;

  width: 260px;
  box-sizing: border-box;

  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;

  height: 5em;
}

.button {
  margin-left: 265px;
}

button {
  margin-left: .5em;
}
form.editform {
  width:400px;
}

form.editform label {
  width: 90px;
}

form.editform .button {
  margin-left: 95px;
}

form.loginform {
  width:400px;
}

form.loginform label {
  width: 90px;
}

form.loginform input[type='submit'] {
  margin-left: 95px;
}


table {
  border: solid 1px;
  margin-left:30px;
  border-collapse:  collapse;
}

td,th {
  padding: 0.3em;
  border: solid 1px;
}